body {
	width: 250px;
	margin: 0;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border-bottom: 1px solid #ccc; */

	> button {
		background: none;
		border: none;
		padding: .75rem;
		cursor: pointer;
	}

	span {
		text-transform: capitalize;
		font-weight: 600;
	}
}

main {
	padding: 1rem;
	text-align: center;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			gap: 1rem;
			padding: .75rem 1rem;
			border-radius: 6px;
			/* background: rgb(220 252 231); */
			background: rgb(239 246 255);
			font-variant: tabular-nums;
			text-transform: capitalize;

			&.locked {
				/* background: rgb(254 226 226); */
				background: rgb(255 247 237);
			}

			.timestamp {
				font-weight: 600;
			}
			& + li {
				margin-top: .75rem;
			}
		}
	}
}


