body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	margin: 0;
	width: 280px;
}

.app {
	max-height: 420px;
	overflow: auto;
}

header {
	position: sticky;
	top: 0;
	background: rgb(244 244 245);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 2.5rem;
	padding: .25rem;


	> button {
		height: 100%;
		width: 3rem;
		background: none;
		border: none;
		cursor: pointer;
	}

	span {
		text-transform: capitalize;
		font-weight: 600;
	}
}

main {
	padding: .5rem;
}

.empty-state {
	margin: 1rem 0;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: flex;
		gap: .75rem;
		text-align: left;
		padding: .75rem 1rem;
		line-height: 1.5rem;
		border-radius: 6px;
		font-variant: tabular-nums;
		text-transform: capitalize;

		&:hover {
			background: rgb(244 244 245);
		}

		span {
			flex: 1;
		}
	}
}

